* {
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* not a fan of flexbox! need work on this one */

header div {
    width: 960;
    height: 150px;
    background-color: aqua;
}

#left {
    height: 500px;
    width: 20%;
    background-color: blue;
}

#center {
    height: 500px;
    width: 60%;
    background-color: blueviolet;
}

#right {
    height: 500px;
    width: 20%;
    background-color: chartreuse;
}

footer div {
    height: 100px;
    background-color: brown;
}
